.slider {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.slider > .slides {
    position: absolute;
    height: 100%;
    width: 100%;
}

.slider > .slides > img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 500;
}

.slider > .slides > .active {
    z-index: 510;
}

.slider > .next,
.slider > .prev {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 540;
}

.slider > .prev > *,
.slider > .next > * {
    cursor: pointer;
}

.slider > .prev > img,
.slider > .next > img {
    margin: 0 6px;
    opacity: 0.5;
}

.slider > .prev > div,
.slider > .next > div {
    border: 16px solid #000000;
    font-size: 0;
}

.slider > .prev > div {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.slider > .next > div {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.slider > .prev {
    left: 0;
}

.slider > .next {
    right: 0;
}

.slider > .position {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 530;
}

.slider > .position > .points {
    cursor: pointer;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #000000;
    height: 8px;
    width: 8px;
    margin: 0 5px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.slider > .position > .active {
    background-color: #ffffff;
}

.slider > .text > span {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    text-align: left;
    font-size: 20px;
    line-height: 24px;
    z-index: 520;
}

.slider > .text > .active {
    display: block;
}

.slider > .text > .hidden {
    display: none;
}
